.position_row {
  display: flex;

  .rent_log_container {
    width: 85vw;
    height: auto;
    margin-left: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #141b2d;

    .time {
      color: white;
      margin-top: 5%;
      margin-bottom: 5px;
      width: 80%;
      text-align: right;
    }

    .modal {
      position: fixed;
      padding: 5px;
      left: 17vw;
      top: 8%;
      width: 30%;
      height: 50x;
      color: white;
      font-size: 16px;
      background-color: #1f2a40;
      word-wrap: break-word;
    }

    .rent_log_title {
      font-size: 30px;
      margin-top: 6%;
      width: 100%;
      height: 50px;
      text-align: center;
      color: white;
    }

    .item_container {
      width: 90%;
      margin-bottom: 3%;

      .log_item_container {
        text-align: center;
      }

      /* 奇数行 */
      tr:nth-child(odd) {
        background-color: #f2f2f2;
      }

      /* 偶数行 */
      tr:nth-child(even) {
        background-color: #ccc;
      }
      .font_item {
        font-size: 16px;
        padding: 8px;
      }
    }

    .rent_log_page {
      color: white;
      font-size: 10px;
    }

    .rent_log_footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 25px;
      width: 12%;

      button {
        padding: 5px;
        font-size: 10px;
      }

      .rent_log_page {
        font-size: 16px;
      }
    }
  }
}
