@charset "UTF-8";
.position_row {
  display: flex;
}
.position_row .port_info_container {
  height: auto;
  background-color: #141b2d;
}
.position_row .port_info_container .port_info_title {
  font-size: 30px;
  margin-top: 6%;
  width: 100%;
  height: 50px;
  text-align: center;
  color: white;
}
.position_row .port_info_container .item_container {
  width: 90%;
  margin-bottom: 3%;
  /* 奇数行 */
  /* 偶数行 */
}
.position_row .port_info_container .item_container .port_item_container {
  text-align: center;
}
.position_row .port_info_container .item_container tr:nth-child(odd) {
  background-color: #f2f2f2;
}
.position_row .port_info_container .item_container tr:nth-child(even) {
  background-color: #ccc;
}
.position_row .port_info_container .item_container .font_item {
  font-size: 16px;
  padding: 8px;
}

.time {
  color: white;
  margin-top: 5%;
  margin-bottom: 5px;
  width: 80%;
  text-align: right;
}

/* レスポンシブ対応　スマホ */
@media (max-width: 767px) {
  .position_row {
    display: none;
  }
  .position_row .side_menu {
    display: none;
  }
}
@media (min-width: 768px) {
  .port_info_container {
    width: 85vw;
    height: auto;
    margin-left: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #141b2d;
    overflow: hidden;
  }
}
@media (max-width: 767px) {
  .to_segway_button {
    display: block;
    color: white;
    text-decoration: none;
    margin-left: 5%;
  }
}
@media (min-width: 768px) {
  .to_segway_button {
    display: none;
  }
}